:root{
    --primary-color: #f5f0f6;
    --secondary-color: #475841;
    --accent-color: #020826;
}

body{
    font-family: "Taviraj", serif;
}

header{

    display: grid;
    grid-template-columns: auto 1fr 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    gap: 0.75rem;
    padding: 5px;
    /*border-bottom: solid 1px var(--accent-color);*/
}

header img{

    width: 40px;
    height: auto;
    display: block;
    padding: 1rem;
}

header span{

    font-size: 2rem;
    color: var(--secondary-color);
}

main{

    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

h1{

    margin: 1rem 0;
    font-size: 2rem;
}

.main-sections{

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

section{

    background-color: var(--primary-color);
    border-radius: 8px;
    overflow: hidden;
}

section h2{

    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 0.75rem;
    font-size: 1.5rem;
}

.about-me p{

    padding: 1rem;
}
.student-photo img{

    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
}


footer{

    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

nav ul{

    list-style: none;
    display: flex;
    gap: 2rem;
    background-color: var(--primary-color);
    padding: 2rem;
}

nav a{
    text-decoration: none;
    color: var(--secondary-color);
}

nav a:hover{

    background-color: #020826;
    color: white;
    padding: 2rem;
}

.socials{

    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.socials a{

    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc solid 1px;
    border-radius: 22px;
    width: 44px;
    height: 44px;
}

.socials a:hover{

    background-color: #ddd;
}