header img{

    width: 24px;
    height: 24px;
}

footer{

    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.socials{

    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.socials a{

    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc solid 1px;
    border-radius: 22px;
    width: 44px;
    height: 44px;
}

.socials a:hover{

    background-color: #ddd;
}